<div class="bg-white mb-10">
<div class= "w-5/6 mx-auto max-w-screen-xl w-">
<div class="text-xl  flex justify-center h-screen w-full"> 
<div class="w-full h-full flex flex-col ">
<%= form_with model: @article do |form| %>
    <%= form.label :title, "タイトル", class: "bg-white text-gray-600 " %>
    <%= form.text_field :title, placeholder: 'タイトル', class: 'bg-white text-gray-600 textarea textarea-bordered mb-4 w-full'%>
    <br>
    <%= form.label :body, "本文", class: "bg-white text-gray-600" %>
    <%= form.text_area :body, id: "markdown", placeholder: '本文', class: "bg-white text-gray-600 textarea textarea-bordered w-full mb-4 h-full" %>
    <div id="html"></div>
    <%= form.submit "投稿する", class: "mt-10 flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"%>
  </div>
    <% end %>
  </div>
</div>

  <html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Marked.js with DOMPurify</title>
  <script src="https://cdn.jsdelivr.net/npm/dompurify@2.4.0/dist/purify.min.js"></script>
</head>
<body>
  <textarea id="markdown" placeholder="Markdownを入力してください"></textarea>
  <div id="html"></div>

  <script>
  document.getElementById('markdown').addEventListener('input', function () {
    const markdown = this.value;
    const dirtyHtml = marked.parse(markdown);
    const cleanHtml = DOMPurify.sanitize(dirtyHtml);
    document.getElementById('html').innerHTML = cleanHtml;
          });
  </script>
</body>
</html>